{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <section class="articles">
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 23/05/2022 à 12h05 dans la catégorie histoire France</div>
            <div class="content">
                <img src="http://via.placeholder.com/350x150" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio.
                   Nisi est sit amet facilisis. Vestibulum morbi blandit cursus risus at ultrices. Nunc lobortis mattis aliquam faucibus purus. 
                   Velit ut tortor pretium viverra. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Non curabitur gravida arcu ac tortor dignissim convallis aenean et. 
                   Elit ullamcorper dignissim cras tincidunt lobortis feugiat. Accumsan lacus vel facilisis volutpat.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio.
                   Nisi est sit amet facilisis. Vestibulum morbi blandit cursus risus at ultrices. Nunc lobortis mattis aliquam faucibus purus. 
                   Velit ut tortor pretium viverra. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Non curabitur gravida arcu ac tortor dignissim convallis aenean et. 
                   Elit ullamcorper dignissim cras tincidunt lobortis feugiat. Accumsan lacus vel facilisis volutpat.
                </p>
                <a href="{{ path('PaysFrance') }}" class="btn btn-primary"> Lire la suite</a>
            </div>
        </article>
                <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 23/05/2022 à 12h05 dans la catégorie histoire Egypte</div>
            <div class="content">
                <img src="http://via.placeholder.com/350x150" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio.
                   Nisi est sit amet facilisis. Vestibulum morbi blandit cursus risus at ultrices. Nunc lobortis mattis aliquam faucibus purus. 
                   Velit ut tortor pretium viverra. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Non curabitur gravida arcu ac tortor dignissim convallis aenean et. 
                   Elit ullamcorper dignissim cras tincidunt lobortis feugiat. Accumsan lacus vel facilisis volutpat.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio.
                   Nisi est sit amet facilisis. Vestibulum morbi blandit cursus risus at ultrices. Nunc lobortis mattis aliquam faucibus purus. 
                   Velit ut tortor pretium viverra. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Non curabitur gravida arcu ac tortor dignissim convallis aenean et. 
                   Elit ullamcorper dignissim cras tincidunt lobortis feugiat. Accumsan lacus vel facilisis volutpat.
                </p>
                <a href="" class="btn btn-primary"> Lire la suite</a>
            </div>
        </article>
                <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 23/05/2022 à 12h05 dans la catégorie histoire Japon</div>
            <div class="content">
                <img src="http://via.placeholder.com/350x150" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio.
                   Nisi est sit amet facilisis. Vestibulum morbi blandit cursus risus at ultrices. Nunc lobortis mattis aliquam faucibus purus. 
                   Velit ut tortor pretium viverra. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Non curabitur gravida arcu ac tortor dignissim convallis aenean et. 
                   Elit ullamcorper dignissim cras tincidunt lobortis feugiat. Accumsan lacus vel facilisis volutpat.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio.
                   Nisi est sit amet facilisis. Vestibulum morbi blandit cursus risus at ultrices. Nunc lobortis mattis aliquam faucibus purus. 
                   Velit ut tortor pretium viverra. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Non curabitur gravida arcu ac tortor dignissim convallis aenean et. 
                   Elit ullamcorper dignissim cras tincidunt lobortis feugiat. Accumsan lacus vel facilisis volutpat.
                </p>
                <a href="" class="btn btn-primary"> Lire la suite</a>
            </div>
        </article>             

    </section>
{% endblock %}
